:root {
	--pa-color-default: #003366;
	--pa-color-default-light: #004D99;
	--pa-color-default-dark: #00264D;
	--pa-color-default-aux: #bfd2e6; 
	--pa-color-secondary: var(--pa-color-default);
	--pa-color-gray01: #303336;
	--pa-color-gray02: #585A5D;
	--pa-color-gray03: #717171;
	--pa-color-gray04: #cacaca;
	--pa-color-gray05: #F4F6FA;
	--pa-color-gray06: #F7F8FA;
	--pa-font-default: 'Noto Sans', sans-serif;
	--pa-font-secondary: 'Noto Serif', serif;

	--bs-primary: var(--pa-color-default);
	--bs-font-sans-serif: var(--pa-font-default);
	--bs-font-monospace: var(--pa-font-secondary);

}