.pa-header-menu {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	z-index: 9;
	background-color: #fff;
}

.pa-header {
	background-color: var(--pa-color-default-light);
	color: #fff;
	
	.pa-tag {
		background: rgba(255,255,255, 0.5);
		text-transform: uppercase;
	}

	h1 {
		font-family: var(--pa-font-secondary);
		font-size: 2.3rem;
	}
}