.pa-slider-principal {
	background-color: black;
	.glide__slide {
		background-size: cover;
		background-position: center;
		opacity: 0.5;
		transition: opacity 0.5s;
		background-color: black;

		.container {
			.row {
				min-height: 506px;
				height: 70vw;
				max-height: 600px;
				color: white;

				h1 {
					font-family: var(--pa-font-secondary);
					font-weight: bold;
					letter-spacing: 0.025em;
				}

				span,
				small {
					letter-spacing: 0.1em;
				}
			}
		}
	}

	.glide__slide--active {
		opacity: 1;
	}

	.pa-glide-principal {
		position: relative;

		.pa-slider-controle {
			color: var(--pa-color-default-light);
			cursor: pointer;

			position: absolute;
			right: 52px;
			bottom: 0;
			left: 52px;

			.icon {
				color: var(--pa-color-default);
			}

			.pa-slider-bullet {
				font-size: 0.5rem;
			}

			.glide__bullet--active {
				color: white;
				background-color: transparent;
			}
		}
	}
}
