:root {
	--pa-color-default: #003366;
	--pa-color-default-light: #004d99;
	--pa-color-default-dark: #00264d;
	--pa-color-default-aux: #bfd2e6;
	--pa-color-secondary: var(--pa-color-default);
	--pa-color-gray01: #303336;
	--pa-color-gray02: #585a5d;
	--pa-color-gray03: #717171;
	--pa-color-gray04: #cacaca;
	--pa-color-gray05: #f4f6fa;
	--pa-color-gray06: #f7f8fa;
	--pa-font-default: "Noto Sans", sans-serif;
	--pa-font-secondary: "Noto Serif", serif;

	--bs-primary: var(--pa-color-default);
	--bs-font-sans-serif: var(--pa-font-default);
	--bs-font-monospace: var(--pa-font-secondary);
}

html {
	// Essa propriedade serve para fazer a rolagem suave dos links ancoras, tais como o botão de: Voltar ao topo
	scroll-behavior: smooth;
}
