.pa-menu-desktop {
	height: 100px;
}

.pa-menu-global .nav {
	a {
		color: gray;
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}

.pa-menu-default .nav {
	a {
		color: var(--pa-color-gray01);
		font-size: 1.1rem;
		font-family: var(--pa-font-secondary);
		padding: 0.8rem 1rem;

		&.pa-menu-active {
			border-bottom: 4px solid var(--pa-color-default);
		}
	}

	.dropdown-menu {
		//border: none;
		border-top: 4px solid var(--pa-color-default);

		li {
			padding-top: 0.5rem !important;
			padding-bottom: 0.5rem !important;
		}

		a {
			font-family: var(--pa-font-primary);
			font-size: 1rem;
			padding: 0;
			display: block;
			clear: both;
			font-weight: 400;
			text-align: inherit;
			text-decoration: none;
			white-space: nowrap;
			background-color: transparent;
			border: 0;

			&:hover,
			&:focus {
				color: var(--pa-color-default) !important;
				background: none;
			}
		}
	}
}

$text-color: #303336;
$border: 0.8px solid rgba(48, 51, 54, 0.4);

div.menu {
	background-color: white;
	// position: absolute;
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 99;
	transition: all 0.3s ease;
	overflow-x: hidden;
	opacity: 0;
	top: 0;
	right: 0;
	color: $text-color;
	display: flex;
	flex-direction: column;
}

div.ativo {
	width: 75%;
	opacity: 1;
	box-shadow: 0px 0px 15px #000000;
}

div.ativo ~ .mask {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
	backdrop-filter: blur(3px);
	position: fixed;
	z-index: 9;
}

.pa-menu-mobile ul {
	list-style: none;
	// padding: 0;
}

.menu_sub {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem;
	padding: 2.5rem 1.5rem 0 1.5rem;

	li.pa-dropdown {
		position: relative;

		a {
			padding-left: 2rem;
			padding-right: 1.5rem;
			text-decoration: none;
			position: relative;
			display: block;
			color: $text-color;
		}

		a.pt::before {
			display: inline-block;
			position: absolute;
			left: 0;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cg style='mix-blend-mode:luminosity'%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='4' y='4' width='17' height='17'%3E%3Ccircle cx='12.3077' cy='12.3077' r='8.30769' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Cpath d='M26.8462 2.61539H-2.23071V22.7049H26.8462V2.61539Z' fill='%23009B3A'/%3E%3Cpath d='M12.3129 5.48813L0.924316 12.6601L12.3129 19.832L23.6912 12.6601L12.3129 5.48813Z' fill='%23FED800'/%3E%3Cpath d='M9.34156 11.1332C8.70038 11.1332 8.05921 11.1934 7.44856 11.2939C7.34679 11.6756 7.2959 12.0774 7.2959 12.4892C7.2959 15.1109 9.44334 17.2303 12.0996 17.2303C14.2573 17.2303 16.079 15.8241 16.6897 13.8955C14.7356 12.1778 12.1607 11.1332 9.34156 11.1332Z' fill='%23002776'/%3E%3Cpath d='M16.8525 13.1521C16.883 12.9411 16.9034 12.7202 16.9034 12.4891C16.9034 9.86745 14.7559 7.74801 12.0996 7.74801C10.1354 7.74801 8.45609 8.9132 7.71313 10.5706C8.25254 10.5003 8.79194 10.4601 9.3517 10.4601C12.2014 10.4601 14.817 11.4746 16.8525 13.1521Z' fill='%23002776'/%3E%3Cpath d='M16.6792 13.8954C16.7504 13.6543 16.8115 13.4032 16.842 13.1521C14.8065 11.4746 12.1909 10.4601 9.34125 10.4601C8.78149 10.4601 8.24208 10.5003 7.70268 10.5706C7.6009 10.8016 7.50931 11.0427 7.44824 11.2838C8.05889 11.1833 8.70007 11.1231 9.34125 11.1231C12.1604 11.1331 14.7353 12.1778 16.6792 13.8954Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.538461' y='0.538461' width='24.9231' height='24.9231' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.73077'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.291462 0 0 0 0 0.00417626 0 0 0 0 0.478711 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 1.57rem 1.57rem;
			height: 100%;
			width: 1.57rem;
		}

		a.es::before {
			display: inline-block;
			position: absolute;
			left: 0;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg id='spain' xmlns='http://www.w3.org/2000/svg' width='17.003' height='17.003' viewBox='0 0 17.003 17.003'%3E%3Cpath id='Caminho_224' data-name='Caminho 224' d='M0,148.392a8.483,8.483,0,0,0,.529,2.957l7.973.739,7.973-.739a8.532,8.532,0,0,0,0-5.914L8.5,144.7l-7.973.739A8.483,8.483,0,0,0,0,148.392Z' transform='translate(0 -139.891)' fill='%23ffda44'/%3E%3Cg id='Grupo_11' data-name='Grupo 11' transform='translate(0.529)'%3E%3Cpath id='Caminho_225' data-name='Caminho 225' d='M31.869,5.545a8.5,8.5,0,0,0-15.946,0Z' transform='translate(-15.923)' fill='%23d80027'/%3E%3Cpath id='Caminho_226' data-name='Caminho 226' d='M15.923,345.043a8.5,8.5,0,0,0,15.946,0Z' transform='translate(-15.923 -333.584)' fill='%23d80027'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: auto;
			height: 100%;
			width: 1.57rem;
		}

		> a::after {
			display: inline-block;
			position: absolute;
			right: 0;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%23303336' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 0.8rem 0.8rem;
			height: 100%;
			width: 0.8rem;
			transform: rotate(90deg);
		}
	}

	img {
		width: 1rem;
		height: auto;
	}

	div.pa-sub-dropdown {
		// display: none;
		overflow: hidden;
		max-height: 0;
		transition: all 0.3s ease;

		ul {
			li {
				margin: 1rem 0;
			}
		}

		a {
			font-weight: normal;
			transition: opacity 0.2s;
		}

		a:hover {
			opacity: 0.2;
		}
	}
}

.menu_inf {
	margin-top: 2.1rem;
	overflow: scroll;
	flex: 1;
	padding: 0 1.5rem 1.5rem 1.5rem;

	> li:first-child {
		//background-color: aqua;
		border-bottom: $border;
		padding-bottom: 1.5rem;
	}

	li {
		margin: 1.5rem 0 0 0;
		font-weight: 600;
		a {
			position: relative;
			display: block;
			text-decoration: none;
			color: $text-color;
		}
	}

	li.pa-dropdown > a::after {
		display: inline-block;
		position: absolute;
		right: 0;
		content: " ";
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%23303336' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 0.8rem 0.8rem;
		height: 100%;
		width: 1rem;
		transition: all 0.3s ease;
	}

	li.active > a::after {
		transform: rotate(90deg);
	}

	div.pa-sub-dropdown {
		// display: none;
		overflow: hidden;
		max-height: 0;
		transition: all 0.3s ease;

		ul {
			border-left: $border;
			padding-left: 1.4rem;

			li {
				margin: 1rem 0;
			}
		}

		a {
			font-weight: normal;
			transition: opacity 0.2s;
		}

		a:hover {
			opacity: 0.2;
		}
	}
}
